.button {
    border-radius: 50em;
    background-color: #202425;
    font-size: 1.5em;
    padding: 20px;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    display: block;
  }
  
  @media (max-width: 768px) {
    .button {
      font-size: 1em;
      padding: 15px;
    }
  }
  
  @media (max-width: 480px) {
    .button {
      font-size: 0.8em;
      padding: 10px;
    }
  }

  .projectName {
    font-size: 2em;
    padding-top: 2%;
    padding-left: 20px;
  }
  
  @media (max-width: 768px) {
    .projectName {
      font-size: 1.5em;
      padding-left: 15px;
    }
  }
  
  @media (max-width: 480px) {
    .projectName {
      font-size: 1em;
      padding-left: 10px;
    }
  }